html,
body {
  height:100%;
}
.style {
  min-height: 100%;
}

/* icon color */
.i-color {
  color: chartreuse;
}

.ss-color {
  color: silver;
}

a.nav-link {
  color: whitesmoke;
}
a.nav-link:hover {
  color: black;
  background-color: #e9cd79;
}
a.nav-link.active {
  color: black;
  background-color: #ffc107;
  font-weight: bold;
}



div.container123  {
  display:flex;
  flex-direction: row;
}
hr{
  color: whitesmoke;
}

