{% extends 'core/base.html' %} {% load static %}
{% block content %}
<div class="container-fluid mt-5">
  <h1 class="text-warning mb-4 border-bottom">CONTACT US</h1
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <form id="contact-form" method="post" action="" role="form">
        {% csrf_token %}
        <div class="messages"></div>
        <div class="controls">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="form_name">Firstname *</label>
                <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your firstname *" required="required" data-error="Firstname is required.">
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="form_lastname">Lastname *</label>
                <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Please enter your lastname *" required="required" data-error="Lastname is required.">
                <div class="help-block with-errors"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="form_email">Email *</label>
                <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="form_phone">Phone</label>
                <input id="form_phone" type="number" name="phone" class="form-control" placeholder="Please enter your phone">
                <div class="help-block with-errors"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="form_message">Message *</label>
                <textarea id="form_message" name="message" class="form-control" placeholder="Message for me *" rows="4" required data-error="Please,leave us a message."></textarea>
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <div class="col-md-12">
              <input type="submit" class="btn btn-warning btn-send" value="Send message">
            </div>
          </div>
        </div>
      </form>
    </div>
  
    <div class="col-lg-12 mt-5 text-center text-white" >
      <div class="">
        <img
          src="{% static 'core/images/loc.png' %}"
          width="30pxpx"
          height="30pxpx"
        />
        <p>Bairam Nagar, Balasore(Near K.M. Hospital)</p>
      </div>
      <div class="">
        <img
          src="{% static 'core/images/ph.png' %}"
          width="30pxpx"
          height="30pxpx"
        />
        <p>7749927175</p>
      </div>
      <div class="">
        <img
          src="{% static 'core/images/mail.png' %}"
          width="30pxpx"
          height="30pxpx"
        />
        <p><a href="mailto:ITcareerpoint@gmail.com" class="text-warning">mail us</a></p>
      </div> 
    </div>

    
  </div>


</div>



{% endblock content %}
