{% extends 'core/base.html' %}  {% block content %}
<div class="container mt-5">
  <h1 class="text-warning  border-bottom">COURSES</h1>
  
  <div class="row text-white text-center mb-5 ">
    <div class="col-sm-4 mb-2">
      <i class="fab fa-java i-color fa-2x "></i>
      <h3>JAVA</h3>
    </div>
     <div class="col-sm-4 mb-2">
      <i class="fa fa-code i-color fa-2x " aria-hidden="true"></i>
      <h3>C</h3>
    </div>
     <div class="col-sm-4 mb-2">
      <i class="fa fa-terminal i-color fa-2x " aria-hidden="true"></i>
      <h3>C++</h3>
    </div>
  </div>

  <div class="row text-white text-center mb-5">
    <div class="col-sm-4 mb-2">
      <i class="fab fa-html5 i-color fa-2x " aria-hidden="true"></i>
      <h3>HTML</h3>
    </div>
     <div class="col-sm-4 mb-2">
      <i class="fab fa-css3 i-color fa-2x " aria-hidden="true"></i>
      <h3>CSS</h3>
    </div>
     <div class="col-sm-4 mb-2">
      <i class="fab fa-js-square i-color fa-2x "></i>
      <h3>JAVASCRIPT</h3>
    </div>
  </div>

  <div class="row text-white text-center mb-5 ">
    <div class="col-sm-4 mb-2">
     <i class="fa fa-microchip i-color fa-2x " aria-hidden="true"></i>
      <h3>MICROPROCESSOR</h3>
    </div>
     <div class="col-sm-4 mb-2">
      <i class="fas fa-database i-color fa-2x "></i>
      <h3>MYSQL</h3>
    </div>
     <div class="col-sm-4 mb-2">
      <i class="fab fa-php i-color fa-2x "></i>
      <h3>PHP</h3>
    </div>
  </div>
</div>

{% endblock content %}
